/luacov.*
/site
/*.rbxl
/*.rbxl.lock
/*.rbxlx
/*.rbxlx.lock
/*.rbxm
/*.rbxmx
/*.sig
/rotriever.lock

/temp
/node_modules
/build

.yarn

/globalTypes.d.lua

**/sourcemap.json

.DS_Store
.vscode
.idea
roblox.toml

Packages/*
!Packages/.robloxrc
